<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrubenfun.mascota">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/main_mascota"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ListaMascotas"
            android:label="@string/lista_mascota"
            android:parentActivityName=".MainActivity"

            android:theme="@style/AppTheme3"

        />
        <activity android:name=".acerca"
            android:label="Biografia"
            android:theme="@style/AppTheme3"
            />

        <activity android:name=".contacto"
            android:label="Contacto"
            android:theme="@style/AppTheme3"
            >

        </activity>

    </application>

</manifest>